<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DS_EMAIL</key>
	<string>vash_zloy13rock@mail.ru</string>
	<key>DS_PASS</key>
	<string>qwerty1234</string>
</dict>
</plist>
